body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    font-style: oblique;
}
p{
    font-size: 20px;
}
#scores{
padding:920px;
}
#wrapper {
    position: absolute;
    left: 33%;
    top: 15%;
    width: 550px;
    height: 450px;
    border: 1px solid rgb(7, 153, 153);
    background-color: azure;
    box-shadow: 20px 20px 30px;
    border-radius: 20px;
}
#startTime {
    background-color: rgb(7, 153, 153);
    padding: 20px 32px;
    font-size: 20px;
    color: white;
    align-items: absolute;
}
#startTime:hover{
    color: chartreuse;
    background-color: coral;
    border-radius: 20px;
}
#questionsDiv{
    margin:25px;
    text-align: center;
    padding-left: 15px;
    font-weight:300 ;
    padding-top: 45px;
}

#currentTime{
    float:right;
    padding-top: 20px;
    padding-right: 15px;
}

#goBack{
    background-color: rgb(7, 153, 153);
    position:relative;
    padding:10px;
    font-size:20px;
    color:white;
    top:25%;
    left:38%;
    width: auto;    
    text-align: center; 
    text-decoration: none;
}
#Submit:hover{
    color: chartreuse;
    background-color: coral;
    border-radius: 20px;
}
#goBack:hover{
    color:chartreuse;
    background-color: coral;
    border-radius: 20px;
}

#clear{
    background-color: rgb(7, 153, 153);
    position: relative; 
    padding: 10px;  
    font-size: 20px;
    color: white;   
    top: 25%;
    right:30%;
   
}
#clear:hover{
    color:chartreuse;
    background-color:coral;
    border-radius: 20px;
}

#Submit {
    background-color:rgb(7, 153, 153) ;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

button{
    padding: 20%;
}

textarea {
    width: 90%;
    margin: 20px;
}
label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: rgb(7, 153, 153) ;
    margin-top: 30px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;

}
#text{
    padding-top: 10px;
}

@media screen and (max-width: 786px) {
        body {
            max-width: 786px;
        }
 
    #wrapper {
        position: absolute;
        left: 20%;
    }
    a {
        margin-left: 20%;
    }
        #goBack {
            position: relative;
            left: 55%;
        }
        #clear {
            position: relative;
            right: 5%;
        }
    }
         @media screen and (max-width: 640px) {
     body {
            min-width: 640px;
        }
    #wrapper {
        position: absolute;
        left: 10%;
    }
      a {
          margin-left: 10%;
      }
}